{
  "plugins": [
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env"
        ]
      ]
    }
  },
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "node": 6
        }
      }
    ]
  ]
}
